
     h1{
        font-family: Verdana;
        color: #ffffff; 
          text-align: center;
          font-size:55px;
          font-weight: bold;

       }
       ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #000000;
          font-family: Arial;
         font-size:17px;
         opacity: 1;
         
       }
       
       li {
         float: left;
       }
       
       li a {
         display: block;
         color: #ffffff;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-weight: bold; 
       }
       
       li a:hover:not(.active) {
         background-color: #1ac6ff;
       }
       
       .active {
         background-color: blue;
    }
    p1{
        font-family: Century Gothic;
        color: #ffffff;
        text-align: center;
        font-size:25px;
        
       } 
       h2{
        font-family: Century Gothic;
        color: #ffffff;
        text-align: center;
        font-size:45px;
        font-weight: bold;
       } 

      p3{
        font-family: Century Gothic;
        color: #ffffff;
        text-align: center;
        font-size:25px;
        
      }
 html { 
      background: url(https://ak9.picdn.net/shutterstock/videos/1012557539/thumb/3.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
